@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.emailtext {
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 20px;
}

.msgDiv {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10vw;
    border-radius: 25px;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

.logoutBtn {
    display: inline-block;
    padding-top: 7px;
    padding-right: 20px;
}

.topnav {
    background-color: #fafffb;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

li:hover {
    background-color: #42bfa9;
    color: black;
    cursor: pointer;
}

li:active {
    background-color: #42bfa9;
    color: black;
}

.topnav a {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #42bfa9;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #42bfa9;
    color: white;
}

#detailsDiv {
    flex: 2;
}

#listDiv {
    flex: 1;
    border-right: 4px solid black;
}


#newAppDiv {
    flex: 1;
}

#newAppBtn {
    display: block;
}

.maindiv {
    display: flex;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 10vw;
    border-radius: 25px;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

.button {
    background-color: #42bfa9;
    font-size: 12px;
    padding: 10px 24px;
    border: none;
    border-radius: 12px;
}

.button:hover {
    background-color: #76bbaa; /* Green */
    color: #000000;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

#newAppBtn {
    display: block;
    margin-top: 15px;
    margin-left: 50vw;
    position: fixed;
    background-color: #ffffff;
    font-size: 12px;
    padding: 10px 24px;
    border: none;
    border-radius: 12px;
}

#newAppBtn:hover {
    background-color: #5dc5b0; /* Green */
    color: #000000;
}

#newAppBtn:active {
    background-color: #42bfa9; /* Green */
    color: #000000;
}
