<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <script src="/js/admin_home.js"></script>
    <title>
        Users
    </title>
</head>
<body onload="init()">
<div class="topnav">
    <p class="emailtext" id="userEmail" th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
    <form class="logoutBtn" method="post" th:action="@{/logout}">
        <input class="button" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="maindiv" style="text-align: center">
    <div id="listDiv"></div>
    <div id="detailsDiv"></div>
</div>
</body>
</html>