<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <title>
        Recommendation Letters
    </title>
</head>
<body>
<div>
    <p class="titleText">Welcome!</p>
    <br>
    <p class="text">This System allows you to request and write letters of recommendation</p>
    <p class="text">Please Log in Or Sign up to Continue</p>
<button onclick="window.location.href='login'">Log in</button>
<button onclick="window.location.href='register'">Sign Up</button>
</div>
</body>
</html>