<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Log In</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<div class="errorDiv" th:if="${param.error}">
  <p class="text" th:text="${session.error}" th:unless="${session == null}">[...]</p>
</div>
<div  class="text" th:if="${param.logout}">You have been logged out.</div>
<div>
    <p class="titleText">Login</p>
<form th:action="@{/login}" method="post">
    <input type="email" placeholder="E-Mail Address" name="email" class="textBox" /> </label>
    <br>
  <input type="password" name="password" placeholder="Password" class="textBox"/> </label>
    <br>
    <input type="submit" class="button" value="Sign In" />
</form>
</div>
</body>
</html>