<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <script src="/js/dashboard_professor.js"></script>
    <title>
        My Applications
    </title>
</head>
<body onload="init()">
<div class="topnav">
    <a href="/dashboard">My Applications</a>
    <a href="/profile">My Profile</a>
    <p class="emailtext" id="userEmail" th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
    <form class="logoutBtn" method="post" th:action="@{/logout}">
        <input class="button" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="msgDiv" style="text-align: center" th:if="${(param.letterSent != null)}">The letter has been sent as an
    e-mail.
</div>
<div class="msgDiv" style="text-align: center" th:if="${(param.letterSave != null)}">The letter was saved.<br>You may
    return to it at any time by going to the respective application and clicking "Write Letter"
</div>
<div class="maindiv">
    <div id="listDiv"></div>
    <div id="detailsDiv"></div>
</div>
</body>
</html>