<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/new_application.css}"/>
    <script src="/js/profile.js"></script>
    <title>
        My Profile
    </title>
</head>
<body onload="init()">
<div class="topnav">
    <a href="/dashboard">My Applications</a>
    <a href="/profile">My Profile</a>
    <p class="emailtext" id="userEmail" th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
    <form class="logoutBtn" method="post" th:action="@{/logout}">
        <input class="button" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="maindiv" style="text-align: center" th:if="${(param.succ != null)}">Details saved successfully!</div>
<div class="maindiv">
    <label for="fName">First Name</label>
    <input class="textBox" id="fName" name="fName" required type="text">
    <br>
    <label for="lName">Last Name</label>
    <input class="textBox" id="lName" name="lName" required type="text">
    <br>
    <label for="phoneNo">Phone Number</label>
    <input class="textBox" id="phoneNo" name="phoneNo" required type="text">
    <br>
    <label for="newPass">Enter a new password,if you want to change it.</label>
    <input class="textBox" id="newPass" name="newPass" required type="password">
    <br>
    <button class="button" onclick="save()">Save</button>
</div>
</body>
</html>