<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
    <script src="/js/dashboard_professor.js"></script>
    <title>
        My Applications
    </title>
</head>
<body onload= "init()">
<div class="topnav">
    <a href="/dashboard">My Applications</a>
    <a href="/profile">My Profile</a>
    <p id="userEmail" class="emailtext" th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
    <form class="logoutBtn" th:action="@{/logout}" method="post">
        <input class="button" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="maindiv">
    <div id="listDiv"></div>
    <div id="detailsDiv"></div>
</div>
</body>
</html>