<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <title>Register</title>
</head>
<body>
<div class="errorDiv" th:if="${session.registerError}">
    <p class="text">This user already exists! If you forgot your password,contact us.</p>
</div>
<form method="post" th:action="@{/register}">
    <div class="container">
        <p class="titleText">Register</p>
        <p class="text">Please fill in this form to create an account.</p>
        <hr>
        <input class="textBox" id="email" name="email" placeholder="Enter your Email" required type="email">
        <input class="textBox" id="password" name="password" placeholder="Enter Password" required type="password">
        <input class="textBox" id="fname" name="fname" placeholder="Enter First Name" required type="text">
        <input class="textBox" id="lname" name="lname" placeholder="Enter Last Name" required type="text">
        <input class="textBox" id="phoneNo" name="phoneNo" placeholder="Enter Your Phone Number" required type="tel">


        <br>

        <p class="text"> I Am Registering as a:</p>

        <input id="studRadio" name="accType" required type="radio" value="STUDENT">
        <label class="text" for="studRadio">Student</label>

        <input id="profRadio" name="accType" required type="radio" value="PROFESSOR">
        <label class="text" for="profRadio">Professor</label>

        <br>
        <br>
        <button class="registerbtn" type="submit">Register</button>
    </div>

</form>
</body>
</html>