<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="ISO-8859-1">
  <link th:href="@{/css/register.css}" rel="stylesheet" />
  <title>Insert title here</title>
</head>
<body>
<form action="/register" method="post">
  <div class="container">
    <p class="titleText">Register</p>
    <p class="text">Please fill in this form to create an account.</p>
    <hr>
    <input class="textBox" type="email" placeholder="Enter your Email" name="email" id="email" required>
    <input class="textBox" type="password" placeholder="Enter Password" name="password" id="password" required>
    <input class="textBox" type="text" placeholder="Enter First Name" name="fname" id="fname" required>
    <input class="textBox" type="text" placeholder="Enter Last Name" name="lname" id="lname" required>
    <input class="textBox" type="tel" placeholder="Enter Your Phone Number" name="phoneNo" id="phoneNo" required>


    <br>

    <p class="text"> I Am Registering as a:</p>

    <input type="radio" id="studRadio" name="accType" value="0">
    <label class="text" for="studRadio">Student</label>

    <input type="radio" id="profRadio" name="accType" value="1">
    <label class="text" for="profRadio">Professor</label>

    <br>
    <br>
    <button  type="submit" class="registerbtn">Register</button>
  </div>

</form>
</body>
</html>