<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/new_application.css}"/>
    <meta charset="UTF-8">
    <title>New Letter</title>
    <script src="/js/write_letter.js"></script>
</head>
<body onload="init()">
<div class="topnav">
    <a>My Applications</a>
    <a href="/profile">My Profile</a>
    <p class="emailtext" id="userEmail" th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
    <form class="logoutBtn" method="post" th:action="@{/logout}">
        <input class="button" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="maindiv">
    <br>
    <textarea class="bigTextBox" id="letterBody" name="letterBody" placeholder="Write your letter here!"
              required></textarea>
    <br>
    <button class="button" onclick="saveLetter()">Save Letter and return</button>
    <button class="button" onclick="sendLetter()">Send Letter as is (Warning:Irreversible)</button>
</div>
</body>
</html>